/* line 1, ../sass/scss/style.scss */
html, body {
  background: #fff;
  color: #3C393C;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/scss/style.scss */
.container {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

/* line 18, ../sass/scss/style.scss */
section, footer {
  display: inline-block;
  width: 100%;
}

/* line 23, ../sass/scss/style.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* line 29, ../sass/scss/style.scss */
li {
  font-size: 16px;
}

/* line 33, ../sass/scss/style.scss */
h1 {
  color: #3C393C;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin: 0;
  line-height: 80px;
}

/* line 44, ../sass/scss/style.scss */
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 0;
}

/* line 54, ../sass/scss/style.scss */
a {
  color: #3a3a3a;
  text-decoration: none;
}

/* line 59, ../sass/scss/style.scss */
a:hover {
  color: #34A9FF;
}

/* line 63, ../sass/scss/style.scss */
#a a:hover {
  color: #4ca454;
}

/* line 67, ../sass/scss/style.scss */
#c a:hover {
  color: #34A9FF;
}

/* line 71, ../sass/scss/style.scss */
#d a:hover {
  color: #be4c39;
}

/* line 75, ../sass/scss/style.scss */
.information {
  padding-top: 150px;
  margin: 0px 0px 45px 0px;
}

/* line 80, ../sass/scss/style.scss */
.links {
  display: block;
  margin: 10px 0px 0px 5px;
}

/* line 85, ../sass/scss/style.scss */
.links li {
  display: inline;
  font-size: 16px;
  letter-spacing: 2px;
}

/* line 91, ../sass/scss/style.scss */
.links span {
  padding: 0px 20px 0px 20px;
}

/* line 95, ../sass/scss/style.scss */
.about {
  margin-bottom: 20px;
}

/* line 99, ../sass/scss/style.scss */
.about p {
  color: #3C393C;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* line 107, ../sass/scss/style.scss */
.about p span {
  font-weight: 600;
}

/* line 111, ../sass/scss/style.scss */
.bio {
  width: 80%;
}

/* line 115, ../sass/scss/style.scss */
.projects {
  width: 90%;
  margin-bottom: 20px;
}

/* line 120, ../sass/scss/style.scss */
.projects span {
  font-weight: 600;
}

/* line 124, ../sass/scss/style.scss */
.projects p {
  margin-top: 5px;
  color: #3C393C;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* line 133, ../sass/scss/style.scss */
.footer {
  font-size: 12px;
  margin: 50px auto 0px auto;
}

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) {
  /* line 142, ../sass/scss/style.scss */
  .bio {
    width: 100%;
  }

  /* line 146, ../sass/scss/style.scss */
  .projects {
    width: 100%;
  }

  /* line 150, ../sass/scss/style.scss */
  .logo {
    width: 66px;
    height: 100px;
  }

  /* line 155, ../sass/scss/style.scss */
  .p {
    font-size: 20px;
  }

  /* line 159, ../sass/scss/style.scss */
  h1 {
    font-size: 80px;
  }

  /* line 163, ../sass/scss/style.scss */
  .information {
    padding-top: 100px;
  }

  /* line 167, ../sass/scss/style.scss */
  h1 span {
    display: block;
  }

  /* line 171, ../sass/scss/style.scss */
  .links span {
    padding: 0 4px;
  }
}
@media (max-width: 640px) and (orientation: landscape) {
  /* line 177, ../sass/scss/style.scss */
  .information {
    padding-top: 100px;
  }
}
@media (max-width: 480px) {
  /* line 184, ../sass/scss/style.scss */
  .bio {
    width: 100%;
  }

  /* line 188, ../sass/scss/style.scss */
  .container {
    width: 90%;
  }

  /* line 192, ../sass/scss/style.scss */
  .information {
    padding-top: 100px;
  }

  /* line 196, ../sass/scss/style.scss */
  .links span {
    padding: 0 4px;
  }
}
