/* line 3, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/style.scss */
html, body {
  background: #fff;
  color: #3C393C;
  margin: 0;
  padding: 0; }

/* line 17, ../sass/style.scss */
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  width: 80%; }

/* line 24, ../sass/style.scss */
section, footer {
  display: inline-block;
  width: 100%; }

/* Font Styles */
/* line 31, ../sass/style.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }

/* line 37, ../sass/style.scss */
li {
  font-size: 16px; }

/* line 41, ../sass/style.scss */
h1 {
  color: #3C393C;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin: 0;
  line-height: 80px; }

/* line 52, ../sass/style.scss */
h2 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 0; }

/* line 62, ../sass/style.scss */
a {
  color: #3C393C;
  text-decoration: none; }

/* Text Hover States */
/* line 69, ../sass/style.scss */
a:hover {
  color: #34A9FF; }

/* line 73, ../sass/style.scss */
#a a:hover {
  color: #9351a6; }

/* line 77, ../sass/style.scss */
#c a:hover {
  color: #55acee; }

/* line 81, ../sass/style.scss */
#d a:hover {
  color: #be4c39; }

/* Header Styles */
/* line 87, ../sass/style.scss */
.top {
  padding-top: 120px;
  margin: 0px 0px 45px 0px; }

/* Nav Styles */
/* line 94, ../sass/style.scss */
.links {
  display: block;
  margin: 10px 0px 0px 0px; }
  /* line 98, ../sass/style.scss */
  .links li {
    display: inline;
    font-size: 16px;
    letter-spacing: 2px; }
  /* line 104, ../sass/style.scss */
  .links ul {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400; }
  /* line 109, ../sass/style.scss */
  .links span {
    padding: 0px 20px 0px 20px; }

/* About Styles */
/* line 116, ../sass/style.scss */
.about {
  margin-bottom: 20px; }
  /* line 119, ../sass/style.scss */
  .about p {
    color: #3C393C;
    font-size: 16px;
    line-height: 22px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400; }
  /* line 127, ../sass/style.scss */
  .about p span {
    font-weight: 600; }

/* line 132, ../sass/style.scss */
.bio {
  width: 80%;
  margin-top: 30px; }

/* Projects Styles */
/* line 139, ../sass/style.scss */
.projects {
  width: 90%;
  margin-bottom: 20px; }
  /* line 143, ../sass/style.scss */
  .projects span {
    font-weight: 600;
    font-family: "Raleway", Helvetica, sans-serif; }
  /* line 148, ../sass/style.scss */
  .projects p {
    margin-top: 5px;
    color: #3C393C;
    font-size: 16px;
    line-height: 22px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400; }

/* Footer Styles */
/* line 160, ../sass/style.scss */
.footer {
  margin: 50px auto 0px auto; }
  /* line 163, ../sass/style.scss */
  .footer p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 12px; }

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) {
  /* line 173, ../sass/style.scss */
  .bio {
    width: 100%; }

  /* line 177, ../sass/style.scss */
  .projects {
    width: 100%; }

  /* line 181, ../sass/style.scss */
  .logo {
    width: 66px;
    height: 100px; }

  /* line 186, ../sass/style.scss */
  .p {
    font-size: 20px; }

  /* line 190, ../sass/style.scss */
  h1 {
    font-size: 80px; }

  /* line 194, ../sass/style.scss */
  .top {
    padding-top: 100px; }

  /* line 198, ../sass/style.scss */
  h1 span {
    display: block; }

  /* line 202, ../sass/style.scss */
  .links span {
    padding: 0 4px; } }
@media (max-width: 640px) and (orientation: landscape) {
  /* line 208, ../sass/style.scss */
  .top {
    padding-top: 100px; } }
@media (max-width: 480px) {
  /* line 215, ../sass/style.scss */
  .bio {
    width: 100%; }

  /* line 219, ../sass/style.scss */
  .container {
    width: 90%; }

  /* line 223, ../sass/style.scss */
  .top {
    padding-top: 100px; }

  /* line 227, ../sass/style.scss */
  .links span {
    padding: 0 4px; } }
