$text-colour:#3C393C;
$font-style:'Raleway', sans-serif;

.skills p{
	color:$text-colour;
	font-size:16px;
	line-height:22px;
	font-family: $font-style;
	font-weight: 400;
	margin-top:5px;
	margin-bottom:5px;
	
}