$text-colour:#3C393C;
$font-style:'Raleway', sans-serif;

.skills p{
	color:$text-colour;
	font-size:16px;
	line-height:22px;
	font-family: $font-style;
	font-weight: 400;
	margin-top:5px;
	margin-bottom:5px;
}

p{
	font-size:18px;
}

h1{
	color:#4472b9;
}

h2{
	font-size:34px;
	color:#4472b9;
}

.information{
	margin-bottom:30px;
}

#a a:hover{
	color:#be4c39;
}

#c a:hover{
	color:#4ca454;
}

#d a:hover{
	color:#4472b9;
}

.bio{
	float:left;
	width:55%;
	margin-bottom:20px;
}

.contact{
	float:right;
	width:28%;
	margin-right:10px;
}

.contact h2{
	text-align:right;
	color:#4472b9;
	font-size:22px;
	font-weight:600;
	padding:5px;
	line-height:30px;
}

ul.one{
	list-style-type:disc;
	float:left;
	text-align:left;
	width:46%;
	line-height:30px;
	margin-left:30px;
}

ul.one p{
	font-weight:600;
}

ul.two p{
	font-weight:600;
}

ul.two{
	list-style-type:disc;
	float:right;
	text-align:left;
	width:48%;
	line-height:30px;
}

.skills{
	margin-bottom:20px;
}

@media (max-width:1200px){
	.contact{
		width:40%;
	}
}

@media (max-width:800px){
	.contact{
		position:absolute;
		top:40px;
		right:9%;
		width:100%;
	}

	.bio{
		width:100%;
	}
}

@media (max-width:1150px){
ul.one{
	width:45%;
}
ul.two{
	width:45%;
}
}

@media (max-width:800px){
ul.one{
	width:100%;
	margin-left:20px;
}
ul.two{
	width:100%;
	float:left;
	margin-left:20px;
}
}

@media (max-width:640px){
	.contact{
		top:30px;
	}

	.information{
		padding-top:0px;
	}
}

@media (max-width:545px){
	.contact{
		top:0px;
		left:9%;
	}

	.contact h2{
		text-align:left;
	}
}