$text-colour:#3C393C;
$font-style:'Raleway', sans-serif;

.container{

}

.skills p{
	color:$text-colour;
	font-size:16px;
	line-height:22px;
	font-family: $font-style;
	font-weight: 400;
	margin-top:5px;
	margin-bottom:5px;
}

.education p{
	color:$text-colour;
	font-size:16px;
	line-height:22px;
	font-family: $font-style;
	font-weight: 400;
	margin-top:5px;
	margin-bottom:16px;
}

.education span{
	font-weight:600;
}


p{
	font-size:18px;
}

h1{
	color:#4472b9;
}

h2{
	font-size:34px;
	color:#4472b9;
}

ul.links{
	line-height:25px;
}

.information{
	margin-bottom:50px;
}

#a a:hover{
	color:#34A9FF;
}

#c a:hover{
	color:#4ca454;
}

#d a:hover{
	color:#55acee;
}

#e a:hover{
	color:#be4c39;
}

#f a:hover{
	color:#9351a6;
}

.bio{
	float:left;
	width:80%;
	margin-bottom:20px;
}

ul.one{
	list-style-type:disc;
	float:left;
	text-align:left;
	width:46%;
	line-height:30px;
	margin-left:20px;
}

ul.one p{
	font-weight:600;
}

ul.two p{
	font-weight:600;
}

ul.two{
	list-style-type:disc;
	float:right;
	text-align:left;
	width:48%;
	line-height:30px;
	margin-bottom:20px;
}

section.relevant.skills{
	margin-bottom:40px;
}

section.other.skills{
	margin-bottom:40px;
}

.work{
	margin-bottom:20px;
}

#back{
	position:relative;
	top:1.5px;
}


@media (max-width:800px){
	.bio{
		width:100%;
	}
}

@media (max-width:830px){
	.links span{
	padding: 0px 10px 0px 10px;
}
}

@media (max-width:1150px){
ul.one{
	width:45%;
}
ul.two{
	width:45%;
}
}

@media (max-width:800px){
ul.one{
	width:95%;
	margin-left:20px;
}
ul.two{
	width:95%;
	float:left;
	margin-left:20px;
}
}

@media (max-width:640px){
	.information{
		padding-top:0px;
	}
}