$text-colour:#3C393C;
$font-style:'Raleway', sans-serif;

html, body {
	background: #fff;
	color:$text-colour;
	margin: 0;
	padding: 0;
}

.container{
	font-family:$font-style;
	font-weight: 400;
	height:100%;
	margin:0 auto;
	max-width:1280px;
	width:80%;
}

section, footer{
	display:inline-block;
	width:100%;
}

/* Font Styles */

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

li {
	font-size: 16px;
}

h1{
	color: $text-colour;
	font-family: $font-style;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 10px;
	margin: 0;
	line-height:80px;
}

h2{
	font-family: $font-style;
	font-weight: 400;
	font-size:22px;
	font-weight:600;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 0;
}

a{
	color:$text-colour;
	text-decoration:none;
}

/* Text Hover States */

a:hover{
	color:#34A9FF;
}

#a a:hover{
	color:#4ca454;
}

#c a:hover{
	color:#55acee;
}

#d a:hover{
	color:#be4c39;
}

/* Header Styles */

.information{
	padding-top:150px;
	margin:0px 0px 45px 0px;
}

/* Nav Styles */

.links{
	display:block;
	margin: 10px 0px 0px 0px;
}

.links li{
	display:inline;
	font-size:16px;
	letter-spacing:2px;
}

.links span{
	padding: 0px 20px 0px 20px;
}

/* About Styles */

.about{
	margin-bottom:20px;
}

.about p{
	color:$text-colour;
	font-size:16px;
	line-height:22px;
	font-family: $font-style;
	font-weight: 400;
}

.about p span{
	font-weight:600;
}

.bio{
	width:80%;
}

/* Projects Styles */

.projects{
	width:90%;
	margin-bottom:20px;
}

.projects span {
	font-weight:600;
}

.projects p{
	margin-top:5px;
	color:$text-colour;
	font-size:16px;
	line-height:22px;
	font-family: $font-style;
	font-weight: 400;
}

/* Footer Styles */

.footer {
	font-size: 12px;
	margin: 50px auto 0px auto;
}

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) {

	.bio {
		width: 100%;
	}

	.projects{
		width:100%;
	}

	.logo {
		width: 66px;
		height: 100px;
	}

	.p{
		font-size:20px;
	}

	h1 {
		font-size: 80px;
	}

	.information {
		padding-top: 100px;
	}

	h1 span {
		display: block;
	}

	.links span {
		padding: 0 4px;
	}
}

@media (max-width: 640px) and (orientation:landscape) {
	.information {
		padding-top: 100px;
	}
}

@media (max-width: 480px) {

	.bio {
		width: 100%;
	}

	.container {
		width: 90%;
	}

	.information {
		padding-top: 100px;
	}

	.links span {
		padding: 0 4px;
	}
}